<section class="flex flex-col items-center justify-center pt-32 pb-16 px-4 text-center w-full max-w-5xl mx-auto">
    <h1 class="text-4xl md:text-6xl font-bold text-white mb-6 tracking-tight leading-tight">
        Construindo soluções web <br class="hidden md:block" />
        <span class="text-emerald-400" >escaláveis e arquiteturas</span> <br class="hidden md:block" />
        de dados sólidos.
    </h1>

    <p class="text-lg md:text-xl text-gray-400 mb-10">
        Angular, TypeScript e Banco de Dados relacionais
    </p>

    <div class="flex flex-col sm:flex-row gap-4">
        <a href="#projetos" class="px-8 py-3 bg-emerald-500/10 text-emerald-400 border border-emerald-500/50 rounded hover:bg-emerald-500 hover:text-white transition-all font-mono text-sm cursor-pointer">
            [ Explorar projetos ]
        </a>

        <a href="https://github.com" target="_blank" class="px-8 py-3 bg-transparent text-gray-300 border border-gray-600 rounded hover:border-gray-400 hover:text-white transition-all font-mono text-sm cursor-pointer">
            [ Ver GitHub ]
        </a>
    </div>
</section>